.yt_video .youtube_video::after {
    content: "";
    background: #555;
    width: 0;
    height: 2px;
    display: block;
    width: 12px;
    margin: 35px auto 5px auto;
}

.carousel_Arrow {
    border: none;
    background: transparent;
}